<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/91733/Documents/APITestcases/APIAutomation_Aug2026">
        <classes>
            <class name="org.example.Ex002_CRUD_BDDStyle.TC006_CreateToken">

            </class>


        </classes>
    </test>
</suite>